@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --FONT: "Inter", sans-serif;
}
body {
  position: relative;
  height: 100svh;
  background: linear-gradient(
    41deg,
    rgba(223, 156, 97, 1) 29%,
    rgba(173, 57, 244, 1) 100%
  );
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.general-container {
  background: transparent;
  /* outline: 2px solid rgb(0, 255, 81); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* opacity: 0; */
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  place-items: center;
}
.parent div {
  width: 100px;
  height: 100px;
  background-color: color-mix(in srgb, aquamarine 60%, transparent 50%);
  border-right: 1px solid black;
  display: grid;
  place-items: center;
}
.parent div h1 {
  font-size: 3rem;
  font-family: var(--FONT);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgb(27, 124, 236),
    0 0 30px rgba(255, 255, 255, 0.4);
  color: #b64cd7;
}
.turn-indicator {
  font-family: var(--FONT);
  margin-top: 2rem;
}
.turn-indicator .turn-xy {
  color: #b64cd7;
}

.pop-up {
  position: absolute;
  width: 300px;
  height: 400px;
  background: linear-gradient(
    45deg,
    rgb(97, 223, 133, 0.5) 29%,
    rgb(57, 188, 244, 0.5) 100%
  );
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  opacity: 0;
}
.pop-up h3 {
  font-size: 2rem;
  background: linear-gradient(
    41deg,
    rgb(246, 115, 0) 29%,
    rgb(255, 60, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pop-up button {
  margin-top: 3rem;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(
    41deg,
    rgb(246, 115, 0) 29%,
    rgb(255, 60, 0) 100%
  );
  font-size: 1rem;
  color: white;
}

@media screen and (min-width: 532px) {
}
